@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: url("img/biblioteca.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin: 0.5rem;
}

main {
  margin: 0.1rem;
}

h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.772);
  border: 5px solid white;
  border-radius: 15px;
  padding: 1rem;
}

.quote {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.637);
  border-radius: 15px;
}

.quote__text {
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 90%;
  margin: auto;
}

.quote__author {
  text-transform: uppercase;
  color: rgb(133, 51, 51);
}

.quote__button {
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem 0.1rem;
  border: 2px solid black;
  margin: auto;
  width: 50%;
}
